# Series in pandas

In [24]:
import numpy as np
import pandas as pd

python_list = [1,2,3]
numpy_array = np.array(python_list)
label = ["a","b", "c"]
python_dictionary = {"a": 10, "himanshu": 12, "dube": 40}
pd.Series(data = python_list, index=label)

a    1
b    2
c    3
dtype: int64

In [20]:
pd.Series(python_list)

0    1
1    2
2    3
dtype: int64

In [23]:
## Another quick way to create a seires from numpy array

pd.Series(numpy_array)

0    1
1    2
2    3
dtype: int64

In [25]:
## Using dictionary creating a series
pd.Series(python_dictionary)

a           10
himanshu    12
dube        40
dtype: int64

##### Series can hold any type of data objects, be it array, list, dictionary or any kind of data

In [27]:
pd.Series(label)

0    a
1    b
2    c
dtype: object

In [28]:
### holding function refrences too
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [45]:
##ser1 = pd.Series(data = [1,2,3,4,],index = ["usa", "india","australia", "usa", ]) ##Can hold duplicate keys. strange

In [ ]:
ser1 = pd.Series(data = [1,2,3,4,],index = ["usa", "india","australia", "japan", ])

In [39]:
ser1

usa          1
india        2
australia    3
usa          4
dtype: int64

In [44]:
ser1["usa"]

usa    1
usa    4
dtype: int64

In [46]:
ser2 = pd.Series(data = [1,2,5,7] , index= ["usa", "india", "italy", "china"])
ser2

usa      1
india    2
italy    5
china    7
dtype: int64

In [47]:
##Adding up both : Always converts sum to floats.
ser1 + ser2

australia    NaN
china        NaN
india        4.0
italy        NaN
usa          2.0
usa          5.0
dtype: float64