## MultiIndex and index hierarchy

In [21]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [28]:
#Index Levels
outside = ["G1", 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)  ## might not use this function much

In [29]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [27]:
## creating dataframe from the lists above.
df  = pd.DataFrame(data =randn(6,2),index= hier_index, columns=["A", "B"])
df

             A         B
G1 1  1.115467  0.089350
   2  0.572785 -0.970779
   3 -0.275508  0.380401
G2 1 -0.410581  0.120897
   2 -0.942752 -0.101398
   3  0.262504 -0.743597

In [32]:
df.loc["G1"].loc[1]  ## this basically returns a series out of a dataframe. the series is of row/index 1

A    1.115467
B    0.089350
Name: 1, dtype: float64

In [33]:
## We can name the index too

In [34]:
df.index.names

FrozenList([None, None])

In [35]:
df.index.names = ["Groups", "Num"] ## this names the multilevel index too

In [36]:
df

                   A         B
Groups Num
G1     1    1.115467  0.089350
       2    0.572785 -0.970779
       3   -0.275508  0.380401
G2     1   -0.410581  0.120897
       2   -0.942752 -0.101398
       3    0.262504 -0.743597

In [39]:
df.loc["G2"].loc[2]["B"]  ## how to access a value from the datagrid.

-0.10139788638852427

In [46]:
### Another function to use to go inside the multilevel index 
## Using the cross section function 
df.xs("G1").xs(2)

A    0.572785
B   -0.970779
Name: 2, dtype: float64

In [48]:
## main use of cross section, suppose we want to go inside and select all the 1 index 
## ADVANCED TOPIC THODA
df.xs(1, level="Num")

               A         B
Groups
G1      1.115467  0.089350
G2     -0.410581  0.120897