In [1]:
## How to deal with missing data
## Pandas deals with that by either drop or by filling in those values

In [2]:
import numpy as np
import pandas as pd

In [3]:
## uptil now we saw how to create a dataframe from an array. But we can create dataframe from dictionary as well
d = {'A': [1, 2, np.nan], "B": [5, np.nan, np.nan], "C": [1,2,3]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
## most of the times we drop missing values from the dataset if those are few missing values
df.dropna() ## now this will remove every row if there is any nan value present

     A    B  C
0  1.0  5.0  1

In [11]:
df.dropna(axis=1) ## this removes the columns with such values

   C
0  1
1  2
2  3

In [16]:
#### THRESHOLD IN THE FUNCTION 
df.dropna(thresh=2) ## so this means rows with 2 non-nan values will remain

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [17]:
## Filling values
df.fillna(value="Fill vallue") ## so right now we are filling a value but most of the times we fill the MEAN of the rows

             A            B  C
0          1.0          5.0  1
1          2.0  Fill vallue  2
2  Fill vallue  Fill vallue  3

In [18]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64